:root{
    --primary-color: #FFB3C1;
    --button-color:#A4133C;
    --background: radial-gradient(circle, #ff8080, #FFB3C1);
    --img: url('https://i.ibb.co/R0mRd8N/image.png')
  }
  
.body{
    height: 100vh;
    position: relative;
    margin: 0;
    background: radial-gradient(circle, #ff8080, #FFB3C1);
  }

  .container{
    margin-top: 15%;
  }

  h1 {
    font-family: 'Playfair Display', serif;
    padding: 15px 30px;
    font-size: 96px;
    width: 50%;
    font-weight: Bold;
   
  }
  
  h2 {
    padding: 15px 30px;
    font-size: 22px;
    font-weight: bold;
    
  }
  
  p {
    font-size: 18px;
    padding: 20px;
  }
  
  .custom-image {
   right: 0;
   margin-top: -35%;
   margin-right: 20px;
   padding: 15px 30px;
   border-radius: 6px;
   height: 50%
  }

  .image-container {
    position: relative;
    display: inline-block; 
  }

  .second-image {
    position: absolute;
    margin-top: -215%;
    right: 0;
    background: transparent;
    mix-blend-mode: multiply;
    transform: rotate(180deg);
  }

  a {
    padding: 15px 30px;
    margin-top: 25%;
  }

  .first-image {
    position: absolute;
    margin-top: 0%;
    left: 0;
    background: transparent;
    mix-blend-mode: multiply;
    transform: rotate(180deg);
  }
  
  .bg{
    background: var(--button-color);
    border-radius: 4px;
    padding: 15px 30px;
  }
